.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }

.gallery-item{
    border: 1px solid lightgray;
    /* background-color: yellow; */
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    padding: 1rem;
    margin: 1rem;
}
.gallery-item:hover{
    border: 1px solid gray;
}

/* .gallery a {
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
  } */

.gallery img {
    height: auto;
    width: 100%;
  }

  .gallery-description{
      /* background-color: blanchedalmond; */
      height: 100px;
  }