

<div>
    <!-- [hero]="selectedHero" is an Angular property binding. -->
    <!-- <app-shirt-detail [shirt]="selectedShirt"></app-shirt-detail> -->
</div>
<div>
    <div>
        <!-- <span *ngFor="let t of sizes; trackBy: trackByFn"> {{t.size}}</span> -->
    </div>
    <hr>
    <h2>{{header}} ({{this.shirtService.shirtArray.length}} total)</h2>
    <div class="gallery">
      <div *ngFor="let shirtInstance of shirts; trackBy: trackByFn" class="gallery-item">
        <!-- <span>Is in cart: {{shirtInstance.inCart}}</span> <br /> -->
        <a routerLink="/detail/{{shirtInstance.id}}">
            <img [src]="shirtInstance.image" class="image-shirt" />
        </a>
        <div class="gallery-description">
            <span class="badge">{{shirtInstance.id}}</span> {{shirtInstance.name}} <br />
            <span class="badge">Pris: </span> {{shirtInstance.price}}
            <hr>
            <div *ngIf="shirtInstance.inCart">
                <button (click)="RemoveFromCart(shirtInstance)">Remove from cart</button>
            </div>
            <div *ngIf="!shirtInstance.inCart">
                <button (click)="addToCart(shirtInstance)">Add to cart</button>
            </div>
        </div>
      </div>
    </div>
    
</div>