
<div>
    This is the cart component
</div>
<div *ngIf="cartLength" style="padding:5rem;">
    <div *ngIf="selected$">
        <h2>Current price: {{total}}</h2>
        <h2>Total object in cart: {{cartLength}}</h2>
    </div>
    <!-- <app-customer-selected></app-customer-selected> -->
    <app-customer-selected [shirtobjects]="selected$.Shirts" (deleteObjectEmitter)="removeCartObject($event)"></app-customer-selected>
</div>

<div *ngIf="!cartLength" style="text-align:center;">
    <h1>Your cart is empty!!!</h1>
</div>