
<div>
    This is the cart component
</div>

<div *ngIf="cartLength">
    <div *ngIf="selected$" style="background-color:lightcoral;">
        <h5>Total price:: {{total}}</h5>    
        <h5>Cart length:: {{cartLength}}</h5>
        <div>
            {{selected$.name}} ({{selected$.selected}})
        </div>
    </div>
    <!-- <app-customer-selected></app-customer-selected> -->
    <app-customer-selected [shirtobjects]="selected$.Shirts" (deleteObjectEmitter)="removeCartObject($event)"></app-customer-selected>
</div>

<div *ngIf="!cartLength" style="text-align:center;">
    <h1>Your cart is empty!!!</h1>
</div>