

{{customers}}
<div class="top-nav" *ngIf="customers">
  <div>
  <div class="select-wrapper">
      <label for="select">Select one</label>
      <select class="">
          <!-- <option disabled="" selected="" value=""></option> -->
          <option *ngFor="let customer of customers | async; let i=index"  value="customer.name">
              {{customer.name}} ({{customer.selected}})
          </option>
      </select>
    </div>
  </div>
  <div>
      <app-cart-basket></app-cart-basket>
  </div>
</div>
<div>
  <h1>Welcome to: {{ title }}!</h1>
</div>
<nav>
    <!-- <a routerLink="/heroes">Heroes</a> -->
    <a routerLink="/shirts">Shirts</a> - 
    <a routerLink="/cart">CART</a> - 
    <a routerLink="/customers">Customers</a>
</nav>
<hr>

<div>
  <router-outlet></router-outlet>
  <!-- <app-shirts></app-shirts> -->
</div>