

<!-- component: app.component <br />
{{customers}} <br />
Göra en selector som väljer ut selected? <br /> -->
<div class="top-nav" style="height: 60px;">
    <div>
        <div>
            <app-cart-basket></app-cart-basket>
        </div>
        <div class="select-wrapper" *ngIf="selectedObj">
            <label for="select">Current client:</label>
            <select [ngModel]="selectedObj" (ngModelChange)="onChangeObj($event)">
                <option *ngIf="selectedObj" [ngValue]="selectedObj">{{selectedObj}}</option>
                <option *ngFor="let customer of customers | async; let i=index" [ngValue]="customer">
                    {{customer.name}} 
                    <span *ngIf="customer.selected">
                        (Selected)
                    </span>
                </option>
            </select>
        </div>

    </div>
</div>
<div style="text-align:center;">
  <h1>{{ title }}!</h1>
  <small>Using: ngrx store, ngrx effects, ngx toast, Eventmitter, Modal Material</small>
</div>
<nav>
    <!-- <a routerLink="/heroes">Heroes</a> -->
    <a routerLink="/shirts">Shirts</a> - 
    <a routerLink="/cart">CART</a> - 
    <a routerLink="/customers">Customers</a>
</nav>
<hr>

<div>
  <router-outlet></router-outlet>
  <!-- <app-shirts></app-shirts> -->
</div>