

<!-- component: app.component <br />
{{customers}} <br />
Göra en selector som väljer ut selected? <br /> -->
<div class="top-nav" *ngIf="customers">
    <div>
        <div>
            <app-cart-basket></app-cart-basket>
        </div>
        <div class="select-wrapper">
        <label for="select">Select one</label>
        <select class="">
            <!-- <option disabled="" selected="" value=""></option> -->
            <option *ngFor="let customer of customers | async; let i=index"  value="customer.name">
                {{customer.name}} ({{customer.selected}})
            </option>
        </select>
        </div>
    </div>
</div>
<div style="text-align:center;">
  <h1>{{ title }}!</h1>
  <small>Using: ngrx store, ngrx effects, ngx toast, Eventmitter, Modal Material</small>
</div>
<nav>
    <!-- <a routerLink="/heroes">Heroes</a> -->
    <a routerLink="/shirts">Shirts</a> - 
    <a routerLink="/cart">CART</a> - 
    <a routerLink="/customers">Customers</a>
</nav>
<hr>

<div>
  <router-outlet></router-outlet>
  <!-- <app-shirts></app-shirts> -->
</div>