<h4>Customer-selected component - inherited value from parent component.</h4>
<div>
    <p>This component inherit the shirts of object - All shirts added to basket</p>
    <div>
        <div *ngFor='let item of shirtobjects' class="Media">
            <img [src]="item.image" class="Media-figure"> <br />
            <p class="Media-body">
                <b>{{item.name}} {{item.type}} ({{item.size}}) - Remove</b> <br />
                <span>{{item.description}}</span>
            </p>
            <p>
                <span>Pris: {{item.price}}</span>
                <button style="float: right" (click)="deleteShirtObject(item)">x</button>
            </p>
        </div>
    </div>
</div>