

<div>
    <!-- [hero]="selectedHero" is an Angular property binding. -->
    <app-shirt-detail [shirt]="selectedShirt"></app-shirt-detail>
</div>
<div>
    <h2>My Shirts</h2>
    <div class="gallery">
      <div *ngFor="let shirtInstance of shirts" class="gallery-item">
        <img [src]="shirtInstance.image" class="image-shirt" />
        <div class="gallery-description">
            <span class="badge">{{shirtInstance.id}}</span> {{shirtInstance.name}} <br />
            <span (click)="onSelect(shirtInstance)">Add to cart</span>
        </div>
      </div>
    </div>
    
</div>