.customers { 
    margin: 0 0 2em 0; 
    list-style-type: none; 
    padding: 0; 
    width: 15em; 
  }
   
  .customers li { 
    background-color: steelblue; 
    color: white; 
    border-radius: 4px; 
    padding: 4px; 
    margin: 2px; 
  }

  .show-less {
    height: 4rem;
    overflow: hidden;
    padding: 1rem;
}




select:hover{
  cursor: pointer;
}
select:focus{
  border: 2px solid blue;
}

.select-wrapper{
  /* background: purple; */
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 2px;
  padding: 1rem;
  width: 300px;
}
.select-wrapper:hover{
  border-radius: 4px;
  border: 2px solid gray;
}

.select-wrapper label{
  background-color: blue;
  display: inline-block;
}
.select-wrapper:focus-within{
  /* border: 2px solid #339DFF; */
  border: 2px solid red;
  border-radius: 4px;
}

.select-wrapper select{
  border: none;
  height: 50px;
  width: 100%;
  background-color: transparent;
}
.select-wrapper select:focus{
  border: none;
  outline: none;
}