<div *ngIf="shirt">
    <button (click)="goBack()">GO BACK</button>
</div>
  <div class="row">
    <div class="column">
        <div>
          <img [src]="shirt.image">
        </div>
        <div>
            <h3>Two way binding</h3>
            <label>name:
                <!-- [(ngModel)] is Angular's two-way data binding syntax. -->
              <input [(ngModel)]="shirt.name" placeholder="name"/>
            </label>
        </div>
    </div>
    <div class="column">
        <div><b>Name: </b>{{shirt.name | uppercase}} </div>
        <div><b>Type: </b>{{shirt.type}} | <span>Size: </span>{{shirt.size}}</div>
        <br /><br />
        <div>
          <b>Description:</b><br />
          {{shirt.description}}
        </div>
    </div>
  </div>
